{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">

        <div class="card mb-12" style="margin-top: 70px">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ asset('uploads/images/'~product.image) }}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h1 class="card-title text-success">{{ product.name }}</h1>
                        <p class="card-text">{{ product.description }}</p>
                        <h3>{{ product.price }} EUR</h3>
                        <a href="{{ path('app_cart_new',{'id':product.id}) }}" class="text-success text-decoration-none">add to card</a>
                    </div>
                </div>
            </div>
        </div>

        <h2>Latest Added Products</h2>

        <div class="row">
            {% for product in products %}
                <div class="col-md-3 mt-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ asset('uploads/images/'~product.image) }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a style="text-decoration: none; color: green" href="{{ path('app_home_product_show',{'id':product.id}) }}"> <h5 class="card-title">{{ product.name }}</h5></a>
                            <p class="card-text">{{ product.description|slice(0,60) }} ..</p>
                            <h3>{{ product.price }} EUR</h3>
                            <a href="{{ path('app_cart_new',{'id':product.id}) }}" class="text-success text-decoration-none">Add to Card</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
