<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="#">My shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Home</a>
                </li>
                {% if categories is defined %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Catégories
                        </a>
                        <ul class="dropdown-menu">
                            {% for category in categories %}
                                <li><a class="dropdown-item text-success" style="font-weight: bolder" href="#">{{ category.name }}</a></li>
                                {% for subCategory in category.subCategories  %}
                                    <li><a class="dropdown-item" href="{{ path('app_home_product_filter',{'id':subCategory.id}) }}">{{ subCategory.name }}</a></li>
                                {% endfor %}
                                <li><hr class="dropdown-divider"></li>
                            {% endfor %}

                        </ul>
                    </li>
                {% endif %}

                {% if is_granted("ROLE_ADMIN") %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Administration
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('app_category') }}">Catégories</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_category_new') }}">Ajouter une catégorie</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_sub_category_index') }}">Sous catégories</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_sub_category_new') }}">Créer une sous catégorie</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ path('app_product_index') }}">Produits</a></li>
                        <li><hr class="dropdown-divider"></li>

                        <li><a class="dropdown-item" href="{{ path('app_user') }}">Utilisateurs</a></li>
                    </ul>
                </li>
                {% endif %}
                {% if app.user == false %}
                    <li class="nav-item">
                        <a href="{{ path('app_register') }}" class="nav-link" >S'incrire</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_login') }}" class="nav-link" >Se connecter</a>
                    </li>
                {% endif %}

                {% if is_granted("ROLE_EDITOR") %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Commandes
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('app_orders_show',{'type':'is-completed'}) }}">Commandes livrées</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_orders_show',{'type':'pay-on-stripe-not-delivered'}) }}">Commandes payées en ligne non livrées</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_orders_show',{'type':'pay-on-stripe-is-delivered'}) }}">Commandes payées en ligne livrées</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
            <form data-turbo="false" method="get" action="{{ path('app_search_engine') }}" class="d-flex" role="search">
                <input name="word" class="form-control me-2" type="search" placeholder="rechercher un produit" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
