{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Order</h1>
    {% include 'layouts/_flash_message.html.twig' %}
    {% for order in orders %}
       <h2> Commande n:{{ order.id }}</h2>
        {% if order.isCompleted == true %}
            <h4 class="text-danger ">Commande livrée : {{ order.createdAt|date }}</h4>
        {% else %}
            <h4 class="text-success">Commande non livrée : {{ order.createdAt|date }}</h4>
        {% endif %}
        <br>
        <span>Informations du client</span>
        <table class="table table-bordered">
            <tr>
                <th>nom</th>
                <th>Prenom</th>
                <th>telephone</th>
                <th>Adresse</th>
                <th>Ville</th>
            </tr>
            <tr>
                <td>{{ order.firstName }}</td>
                <td>{{ order.lastName }}</td>
                <td>{{ order.phone }}</td>
                <td>{{ order.adresse }}</td>
                <td>{{ order.city.name }}</td>
            </tr>
        </table>
        <span>Corps de la commande</span>
        <table class="table table-bordered">
           <tr>
               <th>image de produit</th>
               <th>Nom du produit</th>
               <th>Description</th>
               <th>Prix unitaire</th>
               <th>quantité</th>
               <th>prix total</th>
           </tr>
            {% for product in order.orderProducts %}
                <tr>
                    <td><img style="width: 80px" src="{{ asset('uploads/images/'~product.product.image) }}" alt=""></td>
                    <td>{{ product.product.name }}</td>
                    <td>{{ product.product.description|slice(0,200) }}</td>
                    <td>{{ product.product.price }} Eur</td>
                    <td>{{ product.qte }}</td>
                    <td>{{ product.product.price*product.qte }} Eur</td>
                </tr>
            {% endfor %}
        </table>
        <span>Frais de livraison  : {{ order.city.shippingCost }} Eur</span>
        <h5>Total à payer : {{ order.totalPrice }} Eur</h5>

        <a class="btn btn-outline-success" href="{{ path('app_bill',{'id':order.id}) }}">Imprimmer la facture </a>
        {% if order.isCompleted != true %}
            <a href="{{ path('app_orders_is_completed_update',{'id':order.id}) }}" class="btn btn-outline-primary col-2 m-lg-1">Marquer comme livrée</a>
        {% endif %}
        <a onclick="return confirm('voulez-vous vraiment supprimer cette commande ?')" href="{{ path('app_orders_remove',{'id':order.id}) }}" class="btn btn-outline-danger col-2 m-lg-1">Supprimer la commande</a>
        <hr>
    {% endfor %}

    {{ knp_pagination_render(orders,'layouts/pagination_template.html.twig') }}
</div>

{% endblock %}